{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<script src="static\scripts.js"></script>
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../../static/images/teste 4.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-top cabecalho">
  <div class="w3-row w3-padding ">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block cabecalho">Home</a>
    </div>
    <div class="w3-col s3">
      <a href="#menu" class="w3-button w3-block cabecalho">Omakase</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block cabecalho">Sobre</a>
    </div>
    <div class="w3-col s3">
      <button class="w3-button w3-block cabecalho" id="botao_reserva" onclick="mudar_para_pagina_reserva()">Reserva</button>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px"><br>Oma</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white">15 Adr street, 5015</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

  
  <!-- Menu Container -->
  <div class="w3-container" id="menu">
    <div class="w3-content" style="max-width:700px">
      
    <h5 class="the_Menu center">Omakase</span></h5>

    <div id="Eat" class="">
      <p class="w3-text-grey">Omakase é uma experiência gastronômica japonesa em que você confia totalmente nas mãos do chef. A palavra "omakase" significa "deixo em suas mãos" ou "confio em você". Nesse estilo de refeição, o chef é responsável por escolher e preparar uma sequência de pratos, utilizando os melhores ingredientes disponíveis no dia ou na época.

      <p class="w3-text-grey"> Uma das características mais marcantes do omakase é a atenção dada aos peixes frescos e de alta qualidade. Os melhores restaurantes de omakase têm acesso privilegiado aos pescadores locais e aos mercados de peixes, permitindo que o chef selecione os peixes mais saborosos e frescos disponíveis. Isso significa que os pratos oferecidos em um autêntico omakase variam de acordo com a temporada e a disponibilidade dos peixes.</p>
      
      <p class="w3-text-grey">Ao desfrutar de um omakase, você pode esperar uma experiência culinária única e memorável. Cada prato é cuidadosamente elaborado pelo chef, levando em consideração o sabor, a textura e a apresentação. Você terá a oportunidade de provar uma variedade de peixes e frutos do mar frescos, preparados de maneiras diferentes para realçar suas características naturais.</p>
      
      <p class="w3-text-grey">A essência do omakase está na confiança depositada no chef, permitindo que ele demonstre sua criatividade e habilidade culinária. A refeição é frequentemente servida no balcão, permitindo que você observe de perto o processo de preparação dos pratos e interaja com o chef. Essa proximidade proporciona uma experiência intimista, onde cada prato é apresentado com uma narrativa e uma explicação dos ingredientes utilizados.</p>
    </div>
  </div>
</div>


<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><strong>Sobre nós</strong></h5>
    <p>
      Descubra a história inspiradora de cinco amigos apaixonados por comida japonesa que se uniram para abrir um autêntico omakase. Movidos pela busca por sabores autênticos, mergulhamos em explorações gastronômicas, visitando restaurantes especializados e experimentando diferentes pratos de sushi e sashimi. Com a ideia de compartilhar nossa paixão, aprimoramos nossas habilidades culinárias e estudamos com chefs japoneses renomados. Agora, nosso omakase oferece uma experiência culinária única, com pratos cuidadosamente preparados e ingredientes frescos em harmonia com as estações do ano. Junte-se a nós para uma jornada gastronômica autêntica e apaixonada pela culinária japonesa.</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"Deixe-se envolver por uma experiência gastronômica única, onde cada mordida é uma obra de arte.</i></p>
      <p>Chefe: Liam Brown</p>
    </div>
    <p><strong>Horas Abertas:</strong> Terça a sabados apenas no horario do jantar.</p>
    <p><strong>Endereço:</strong> 15 Adr street, 5015, NY</p>
  </div>
</div>
</body>
</html>
